body {
     background-color: brown;background-image: url(https://images.alphacoders.com/605/thumbbig-605592.webp);
     background-repeat: no-repeat;
     background-position: above;
     background-attachment:scroll ;
     

    }
#para1{
    color: blanchedalmond;
    border-style: solid;
    border-color: green;
    border-width: 4px;
    border-right: solid;
    border-radius: 8px;
    border-bottom:dotted ;
    border-left: double;
    /*background-attachment:scroll;*/
}
h1{
    background-position: center;
    background-color: burlywood;
}
table{
    background-color: aqua;
    border-radius: 10px;
    border-width: 6px;
    border-bottom: double;
    border-left: dotted;
    border-right: dashed;
    
}