.li{
    background-color:black;
    align-items: center;
    text-decoration: none;
}
#head{
    font-family: 'Lucida Sans', 'Lucida Sans ;
    color: cornsilk;
}
body{
    background-color: black;
    font-family: sans-serif;
    background-image: url(/images/Black\ Panther\ Animal\ -\ Sunset\ Background.jpg);

}
.jog{text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
#res{
    border: 1px solid black;
    text-decoration-line: none;
    font-size: large;
    color: brown;
    border-radius: 20px;
    background-color: aqua ;
}
#para{
    color: aqua;
    font-size: 50px;
    background-image: url;
    height: 500px;
    text-align: left;
}
#para1{
    text-align: left;
    color: aqua;

}
#para3{
    color: aqua;
    font-size: large;
}
#reach{
    color: aqua;

}
a:hover{
    background-color: green;

}
a{
    text-decoration: none;
    text-decoration-line: none;
    text-align:center;
    align-items:center;
}
.div{
    color: black;
    height: 400px;
    background-color:white;
}
nav do{
    display: inline-block;
    margin: ;
}
.all{
    width: 300px;
    display: inline-flex;
    height: 300px;
    border-color: burlywood;
    border: 1px solid;
    padding: 40px;
    background-color: aqua;
    border-radius: 10px;
    padding-bottom: 10px;
}
.all:hover{
    background-color:white;
}
#did{
    display: list-item;
}
.profile{
    height: 70px;
    border: 1px solid black;
    background-color: white;

}
#pic{
    height: 200;
    width: 80px;
    border-radius: 50%;
    margin-left: 50%;
    
    
}
.list{
    display: inline-block;
    text-align: right;
}
.card{
    
    background-color: white;
    display:inline-flex;
    width: 300px;
    
    padding: 40px;
    border-radius: 10px;

}
.services{
    height: 150px;
    background-color: white;
    padding-bottom: 20px;
}
#sed{
    font-weight: lighter;
    padding-top: 50px;
}
.card-deck{
    padding-bottom: 20px;
}
.car{
    background-color: white;
    display: inline-flex;
    width: 223px;
    height: 100px;
    padding-bottom: 20px;
    padding: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
}
.caro{
    background-color: brown;
    padding-bottom: 20px;
    height:260px ;
}
#omo{
    text-decoration:none;
    margin:75px 150px ;
    align-items:center;
}
#call{
    font-size: large;
}
.pott{
    color: aqua;
}



